attrs==19.3.0
# Editable Git install with no remote (gameoflife==0.0.0)
-e /home/jmoon/Devel/gameoflife
more-itertools==8.4.0
packaging==20.4
Pillow==7.2.0
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==5.4.3
six==1.15.0
wcwidth==0.2.5
